
code/outputs/
code/outputs/
outputs/
*.pth
*.safetensors
*.bin
__pycache__/
.DS_Store
venv/
.venv/
env/
**/venv/
**/.venv/
# Heavy folders & caches
/data/
outputs/
code/outputs/
.cache/
wandb/
venv/
.venv/
env/
**/venv/
**/.venv/

# Weights & Data Files
*.pth
*.pt
*.safetensors
*.bin
*.parquet
*.csv
*.jsonl
code/hf_cache/
hf_cache/
*.pkl
.BTT_env/
